
.editWidgetWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    right: 100%;
    z-index: 100;
    gap: 0px;
    cursor: auto;
}

.editWidgetTopBar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--black);
    color: var(--green);
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
}

.editWidget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 15px 20px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--black);
    color: var(--black);
    gap: 15px;
}

.editWidgetForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editWidgetFormSet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.editWidgetFormSetInputError {
    font-size: 1rem;
    font-weight: 500;
    padding: 2px;
    border: 2px solid var(--red);
    border-radius: 5px;
    background-color: var(--lightRed);
    transition: 0.3s;
    z-index: 101;
}

.editWidgetFormSetInputError {
    font-size: 1rem;
    font-weight: 500;
    padding: 2px;
    border: 2px solid var(--red);
    border-radius: 5px;
    background-color: var(--lightRed);
    transition: 0.3s;
    z-index: 101;
}

.editWidgetFormSetInputError:hover{
    border: 2px solid var(--red);
    background-color: var(--lightRed);
}

.editWidgetFormSetInputError:focus{
    border: 2px solid var(--red);
    background-color: var(--lightRed);
}

.editWidgetFormSetInputError:active{
    border: 2px solid var(--red);
    background-color: var(--lightRed);
}

.editWidgetFormSet label{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.editWidgetFormSetInput{
    font-size: 1rem;
    font-weight: 500;
    padding: 2px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    background-color: white;
    transition: 0.3s;
    z-index: 101;
}

.editWidgetFormSetInput:hover{
    border: 2px solid var(--green);
    background-color: var(--lightGreen);
}

.editWidgetFormSetInput:focus{
    border: 2px solid var(--green);
    background-color: var(--lightGreen);
}

.editWidgetFormSetInput:active{
    border: 2px solid var(--green);
    background-color: var(--lightGreen);
}


.editWidgetFormButtonSet {
    gap: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.EditWidgetFavoriteButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    border: 2px solid var(--gray);
    background-color: transparent;
    color: var(--gray);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: auto;
}

.EditWidgetFavoriteButton:hover {
    border: 2px solid var(--gold);
    background-color: #e09f3e27;
    color: var(--gold);
}

.EditWidgetFavoriteButton:active {
    border: 2px solid var(--gold);
    background-color: var(--gold);
    color: var(--white);
}

.EditWidgetFavoriteButtonFocus {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid var(--gold);
    background-color: var(--gold);
    color: var(--white);
    margin-right: auto;
}

.editWidgetArrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--black);
}